@import "tailwindcss";

@keyframes moveBg {
    0% {
        background-position: 100% 0;
    }

    100% {
        background-position: 0% 0;
    }
}

.animate-bg {
    animation: moveBg 3s ease-in-out forwards;
}